<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net48" />
  <package id="DevExpress.Charts" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Charts.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.CodeParser" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Data" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Data.Desktop" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.DataAccess" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.DataVisualization.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Diagram.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Drawing" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Gauges.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Images" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Map.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Mvvm" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Office.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Pdf.Drawing" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.PivotGrid.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Reporting.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Export" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Scaffolding.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Scaffolding.EFCore" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Scheduler.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Scheduler.CoreDesktop" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Sparkline.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.SpellChecker.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Spreadsheet.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.TreeMap.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Utils" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Win.Dialogs.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Win.Grid" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Win.Navigation" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Win.Printing" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Win.Scheduler" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Win.SchedulerReporting" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Win.TreeList" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Accordion" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Carousel" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Charts" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Controls" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Core.Extensions" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Diagram" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Dialogs" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Docking" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.ExpressionEditor" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Gantt" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Gauges" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid.Core" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid.Printing" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.LayoutControl" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Map" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.NavBar" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Office" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.PdfViewer" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.PivotGrid" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Printing" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.PrismAdapters" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.PropertyGrid" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Reporting" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Ribbon" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.RichEdit" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Scheduling" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.SchedulingReporting" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.SpellChecker" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Spreadsheet" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2019Colorful" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.TreeMap" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.TypedStyles" version="22.2.5" targetFramework="net48" />
  <package id="DevExpress.Xpo" version="22.2.5" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net48" />
  <package id="HandyControls" version="3.4.5" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks" version="4.11.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Material" version="4.11.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.WinForms.v12" version="12.0.0.1" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1343.22" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Grid.WPF" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.GridCommon.Wpf" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Linq.Base" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.OfficeChart.Base" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Pdf.Wpf" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Presentation.Wpf" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.SfMaps.WPF" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="20.2.0.36" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF.Classic" version="20.2.0.36" targetFramework="net48" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net48" />
</packages>